{% extends 'workout/base.html' %}

{% block title %}Adicionar Treino - FitnessTracker{% endblock %}

{% block content %}
<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Adicionar Treino</h2>
    </div>
</div>
<section class="no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form id="workout-form" action="/workout" method="POST">
                    {% csrf_token %}
                    <!-- Erros do Treino -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "workout error" %}
                                <div class="alert alert-danger alert-dismissable" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Erro!</strong> {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <!-- Nome do Treino -->
                    <div class="form-group">
                        <input id="name" type="text" name="name" required class="input-material form-control-lg" placeholder="Nome">
                    </div>
                    <!-- Descrição do Treino -->
                    <div class="form-group">
                        <input id="description" type="text" name="description" class="input-material form-control-lg" placeholder="Descrição">
                    </div>
                    <!-- Botão Adicionar Treino -->
                    <input id="add" type="submit" value="Adicionar" class="btn btn-primary btn-lg">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
