{% extends 'workout/base.html' %}

{% block title %}Editar Treino - FitnessTracker{% endblock %}

{% block content %}
<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Editar Treino</h2>
    </div>
</div>
<section class="no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form id="update-workout-form" action="/workout/{{ workout.id }}/edit" method="POST">
                    {% csrf_token %}
                    <!-- Exibir mensagens de erro -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "edit error" %}
                                <div class="alert alert-danger alert-dismissable" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Erro!</strong> {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <!-- Nome do Treino -->
                    <div class="form-group">
                        <label for="name" class="form-label">Nome do Treino</label>
                        <input id="name" type="text" name="name" required class="input-material form-control-lg" placeholder="Nome" value="{{ workout.name }}">
                    </div>
                    <!-- Descrição do Treino -->
                    <div class="form-group">
                        <label for="description" class="form-label">Descrição do Treino</label>
                        <input id="description" type="text" name="description" class="input-material form-control-lg" placeholder="Descrição" value="{{ workout.description }}">
                    </div>
                    <!-- Ordem do Treino -->
                    <div class="form-group">
                        <label for="order_id" class="form-label">Ordem do Treino</label>
                        <input id="order_id" type="number" name="order_id" required class="input-material form-control-lg" min="1" placeholder="Ordem do Treino" value="{{ workout.order_id }}">
                    </div>
                    <!-- Botão de Atualizar Treino -->
                    <input id="update" type="submit" value="Atualizar" class="btn btn-success btn-lg mr-2">
                    <!-- Botão de Voltar -->
                    <a href="/workout/{{ workout.id }}" class="btn btn-outline-secondary btn-lg mr-2">Voltar</a>
                    <!-- Botão de Excluir -->
                    <a id="delete-workout" href="/workout/{{ workout.id }}/delete" class="btn btn-outline-danger btn-lg">Excluir</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
