{% extends 'workout/base.html' %}

{% block title %}Treino - FitnessTracker{% endblock %}

{% block content %}
<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Treino</h2>
    </div>
</div>
<section class="no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-light">
                {% if workout.completed == False %}
                <!-- Encerrar Treino -->
                <form id="end-workout-form" action="/workout/{{ workout.id }}/complete" method="POST">
                    {% csrf_token %}
                    <!-- Botão Encerrar Treino -->
                    <button id="end-workout" type="submit" class="btn btn-primary btn-lg float-right end-workout mb-4 ml-2">Encerrar Treino</button>
                </form>
                {% endif %}
                <!-- Botão Editar Treino -->
                <a href="/workout/{{ workout.id }}/edit" class="btn btn-outline-info btn-lg float-right mb-4">Editar</a>
                <!-- Nome do Treino -->
                <h2>{{ workout.name }}</h2>
                <!-- Data do Treino -->
                <small class="text-muted">{{ workout.created_at | date }}</small>
                <!-- Descrição do Treino -->
                {% if workout.description %}
                <p class="mt-5">{{ workout.description }}</p>
                {% endif %}
                <!-- Adicionar Exercício -->
                {% if workout.completed == False %}
                <div class="card bg-dark add-exercise mb-5 mt-5">
                    <div class="card-body">
                        <form id="exercise-form" action="/workout/{{ workout.id }}/exercise" method="POST">
                            {% csrf_token %}
                            <!-- Erros de Exercício -->
                            {% if messages %}
                            {% for message in messages %}
                            {% if message.tags == "exercise error" %}
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Erro!</strong> {{ message }}
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            <div class="form-row">
                              <!-- Nome do Exercício -->
                              <div class="form-group col-md-4">
                                  <label for="name" class="w-100">Nome</label>
                                  <input id="name" type="text" name="name" required class="form-control form-control-lg" placeholder="Nome">
                              </div>
                              <!-- Séries do Exercício -->
                              <div class="form-group col-md-2">
                                  <label for="sets" class="w-100">Séries</label>
                                  <input id="sets" type="number" name="sets" class="form-control form-control-lg" placeholder="Séries" min="1" required>
                              </div>
                              <!-- Repetições do Exercício -->
                              <div class="form-group col-md-3">
                                  <label for="repetitions" class="w-100">Repetições</label>
                                  <input id="repetitions" type="text" name="repetitions" class="form-control form-control-lg" placeholder="Repetições">
                              </div>
                              <!-- Campo de RPE -->
                              <div class="form-group col-md-3">
                                  <label for="rpe" class="w-100">RPE (1-10)</label>
                                  <input id="rpe" type="number" name="rpe" class="form-control form-control-lg" placeholder="RPE (1-10)" min="1" max="10" required>
                              </div>
                          </div>
                          
                            <!-- Botão Adicionar Exercício -->
                            <input id="add" type="submit" value="Adicionar Exercício" class="btn btn-secondary btn-lg mt-3 btn-block">
                        </form>
                    </div>
                </div>
                {% endif %}
                <hr>
                <!-- Tabela de Exercícios -->
                {% if exercises %}
                <div id="exercise-wrapper" class="mb-5">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Séries</th>
                                <th>Repetições</th>
                                <th>RPE</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exercise in exercises %}
                            <tr>
                                <th scope="row">{{ exercise.name }}</th>
                                <td>{{ exercise.sets }}</td>
                                <td>{{ exercise.repetitions }}</td>
                                <td>{{ exercise.rpe }}</td>
                                {% if workout.completed == False %}
                                <td>
                                    <form id="delete-exercise-form" action="/workout/{{ workout.id }}/exercise" method="GET" class="p-0 d-inline">
                                        {% csrf_token %}
                                        <input type="hidden" id="exercise_id" name="exercise_id" value="{{ exercise.id }}">
                                        <button id="delete-exercise" type="submit" class="btn btn-link btn-sm text-danger">
                                            <i class="fa fa-trash"></i> Excluir
                                        </button>
                                    </form>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
